footer {
    background: $background_color_primary;
    color: $color_text_secondary;
    padding: $padding_section_standard;

    .footer-head {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;

        .footer-head-left {

            .logo {

                img {
                    width: 200px;
                }
            }

            .footer-left-contact {

                p {
                    margin: 0;
                }
            }
        }

        .footer-head-right {

            ul {
                list-style-type: none;
                margin-bottom: 0;

                li {
                    a {
                        color: white;
                        font-size: 20px;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {

        .loghi-social {
            a {
                color: white;

                i {
                    margin: 30px 20px;
                    font-size: 35px;
                    color: white;

                    &:hover {
                        color: $background_cta_color;
                    }
                }
            }
        }
    }
}
