header {
    .nav-item:hover {
            border-bottom: 2px solid #61ce4e;
    }
}
.nav-item.active {
    border-bottom: 2px solid #61ce4e;
}

.boolean_navbar {
    height: 90px;
    overflow: hidden;
    padding: 10px 0;
}

.boolean_navbar_logo {
    height: 100%;

    img {
        height: 100%;
    }
}

.menu-nav {
    justify-content: flex-end;
}

.navbar-nav {
    li {
        margin: 0 5px;
        padding: 0 20px;
    }

    .cta-boolean {
    max-height: 40px;
    background: #61ce4e;
    margin: 0 0 0 40px;
    padding: 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    }
}
