header {

    .nav-item:hover {
            border-bottom: 2px solid #61ce4e;
    }

    margin-top: 106px;

    a {
        color: $color_text_primary !important;
    }
}
.nav-item.active {
    border-bottom: 2px solid #61ce4e;
}


.boolean_navbar_logo {
    height: 90px;

    img {
        height: 100%;
    }
}


.navbar-nav {
    li {
        margin: 0 5px;
        padding: 0 20px;
    }

    .cta-boolean {
    max-height: 40px;
    background: #61ce4e;
    margin: 0 0 0 40px;
    padding: 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    }
}

.white {
    color: white !important;
}
