#jumbotron-boolean {
    .jumbotron {
        background: white;
    }
}

#boolean-data {
    background-color: $background_color_primary;
    color: white;
    padding: $padding_section_standard;

    h3 {
        font-size: 49.5px;
        font-weight: 400;
    }
}

#partner {
    .loghi-left {
        @include flex(flex-start);
    }

    .loghi-right {
        @include flex(flex-end);
    }
}

#faq {

    .description {
        padding: $padding_standard;
    }

    .prima {
        background-color: $background_color_secondary;
        padding: $padding_standard;
    }

    .dopo {
        background: $background_color_primary;
        color: white;
        padding: $padding_standard;
    }

    .faq-singola {
        padding: $padding_standard;

        .risposta {
            display: none;
        }
    }
}
