$padding_section_standard: 30px 0;
$padding_standard: 30px 20px;
$color_text_primary: #1b3c59;
$color_text_secondary: #fff;
$background_color_primary: #1b3c59;
$background_color_secondary: #e8ebf1;
$background_cta_color: #61ce4e;
$border_nav_item_active: 2px solid $background_cta_color;
